*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.App{
  transition: 0.4s;
  height: 100vh;
}
.dark-app{
  background-color: rgb(0, 3, 43);
  transition: 0.4s;
  color: aliceblue;
  height: 100vh;
}

/* Button Light Mode */
.mode{
  display: flex;
  border:none;
  border-radius: 0.9rem;
  padding: 0.4rem;
  margin: auto;
  transition: 0.3s;
  background-image: linear-gradient(30deg,rgb(53, 12, 167),rgb(79, 100, 224));
  color: white;
}
.mode:hover{
  box-shadow: 0 0 10px gray;
}
.mode-dark{
  color:black;
  background-image: linear-gradient(rgb(255, 250, 221),rgb(255, 242, 172));
}
.mode-dark:hover{
  box-shadow: 0 0 10px rgb(255, 246, 246);
}

/* DarkMode */
.select-dark{
  color: aliceblue;
  transition: all 0.4s;
}
.select-dark select{
  background-color: black;
  color: aliceblue;
  transition: all 0.4s;
}
.select-dark label{
  background-color: black;
  color: aliceblue;
  transition: all 0.4s;
}
.select-dark input{
  background-color: black;
  color: aliceblue;
  transition: all 0.4s;
}